/*-- scss:defaults --*/
/* Primary and Accent Colors */
$primary: #54B689; // Fresh green used for primary elements
$secondary: #4F4F4F; // Dark gray used for secondary text or less prominent elements

/* Background Colors */
$body-bg: #fffefe; // Very light gray for the general background
$content-bg: #FFFFFF; // White for content backgrounds

/* Text Colors */
$body-color: #4f4f4f; // Dark gray for main text for optimum readability

/* Navbar Specific */
$navbar-bg: $primary; // Use the primary color for navbar background
$navbar-fg: #e2f0e8; // White text in the navbar for better visibility
$navbar-hl: #20384b;

/* Footer Specific */
$footer-bg: #F8F8F8; // Slightly darker shade for the footer for contrast
$footer-fg: $secondary; // Slightly darker shade for the footer for contrast

/* Link and Button Colors */
$link-color: $primary; // Use primary green for links

/* Custom styles for headings and other UI elements */
h1, h2, h3, h4, h5, h6 {
  color: #2a2a2a; // Main text color for headings
}

.interest:hover {
  transform: scale(1.05); /* Slight scale to highlight on hover */
  background-color: #f8f9fa; /* Light background on hover to enhance focus */
}

.navbar-title, .quarto-title h1 {
  color: #20384b;
}